{% extends 'base.html' %}

{% block main %}
    <div class="container">
        {% for category in categories %}
        <li class="category-item">
            <a href="/categories/{{ category[0] }}">{{ category[1] }}</a>
        </li>
        {% endfor %}
    </div>

<div id="content">
    {%  for wo in wor %}
    <article class="word">
        <p>Maori: {{ wo[0] }}</p>
        <p>English: {{ wo[1] }}</p>
        <p>Category: {{ wo[2] }}</p>
        <p>Definition: {{ wo[3] }}</p>
        <p>Level: {{ wo[4] }}</p>
    </article>
    {% endfor %}
</div>

{% endblock %}