{% extends 'base.html' %}

{% block main %}

<div class="dropdown">
  <button class="dropbtn">Categories ▼</button>
  <div class="dropdown-content">
    {% for category in categories %}
    <a href="/categories/{{ category[0] }}">{{ category[1] }}</a>
    {% endfor %}
  </div>
</div>

<div id="content">
    {%  for word in words %}
    <article class="content-item">
        <a href="/open_word_details/{{ word[2] }}">Maori: {{ word[0] }}</a>
        <p>English: {{ word[1] }}</p>
    </article>
    {% endfor %}
</div>
{% endblock %}