{% extends "base.html" %}

{% block main %}
    <div class="container">
        {% for category in categories %}
        <li class="category-item">
            <a href="/categories/{{ category[0] }}">{{ category[1] }}</a>
        </li>
        {% endfor %}
    </div>
        <div id="content">
    {%  for word in words %}
    <article class="content-item">
        <p>Maori: {{ word[0] }}</p>
        <p>English: {{ word[1] }}</p>
        <p>Category: {{ word[2] }}</p>
        <p>Definition: {{ word[3] }}</p>
        <p>Level: {{ word[4] }}</p>
    </article>
    {% endfor %}
        </div>
{% endblock %}